spring:
  profiles:
    active: local
  datasource:
    url: jdbc:postgresql://localhost:5432/user-service
    username: admin
    password: hackme
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 10
      minimum-idle: 2
      connection-timeout: 30000
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        show_sql: false
    open-in-view: false
  sql:
    init:
      platform: postgresql
  liquibase:
    change-log: classpath:/db/changelog/db.changelog-master.yml
    enabled: true

server:
  port: 8080
  servlet:
    context-path: /

logging:
  level:
    com.aston: DEBUG
    org.hibernate.SQL: DEBUG
    org.springframework.web: INFO
  pattern:
    console: "%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"
