spring:
  application:
    name: gateway-service
  config:
    import: "optional:configserver:${CONFIG_SERVER_URL:http://localhost:8888}"

eureka:
  client:
    service-url:
      defaultZone: http://discovery-service:8761/eureka/
  instance:
    prefer-ip-address: true
