spring:
  application:
    name: user-service
  config:
    import: "configserver:${CONFIG_SERVER_URL:http://localhost:8888}"
  liquibase:
    change-log: classpath:/db/changelog/db.changelog-master.yml
    enabled: true

eureka:
  client:
    service-url:
      defaultZone: http://discovery-service:8761/eureka/
  instance:
    prefer-ip-address: true
