spring:
  config:
    activate:
      on-profile: test
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        jdbc:
          lob:
            non_contextual_creation: true
  datasource:
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 5
  liquibase:
    enabled: false
  messages:
    basename: i18n/messages
    encoding: UTF-8
    fallback-to-system-locale: false
  main:
    allow-bean-definition-overriding: true
    lazy-initialization: true

notification:
  service: rest

logging:
  level:
    org.hibernate.SQL: DEBUG
    org.testcontainers: INFO
    com.aston.user_service: DEBUG
    org.springframework: WARN
  pattern:
    console: "%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"

